/** This style sheet is for the boards only. */
/** Reset padding for holder **/

.main-container {
  width: 100% !important;
  padding: 0 !important;
}
.main-container .row {
  margin-left: 0;
  margin-right: 0;
}
.region-content.openlucius-board {
  position: relative;
  flex-grow: 1;
  min-height: unset !important;
  padding: 0;
}
#openlucius-board {
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #f2f2f2;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.openlucius-board-column {
  padding: 15px;
  flex: 1 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 320px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #d8d8d8;
  cursor: pointer;
}
.openlucius-board-column h2 {
  font-size: 18px;
  margin: 0 0 10px;
  white-space: normal;
  cursor: pointer;
  position: relative;
}
.openlucius-board-column h2 i {
  /** default **/
  transform: rotate(45deg);
  /** Safari **/
  -webkit-transform: rotate(45deg);
  /** Firefox **/
  -moz-transform: rotate(45deg);
  /** IE **/
  -ms-transform: rotate(45deg);
  /** Opera **/
  -o-transform: rotate(45deg);
  /** Legacy IE, weet niet helemaal zeker of dit werkt :) **/
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
  float: right;
}
.openlucius-board-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: normal;
  cursor: move;
  overflow: visible;
  word-wrap: break-word;
  padding: 13px 15px;
  margin-bottom: 5px;
  font-size:14px;
}
.openlucius-board-item.well {
  padding: 23px 15px 13px 15px;
  margin-bottom: 5px;
  font-size: 14px;
}
.user-is-client .openlucius-board-item {
  cursor: default;
}
.glyphicon.edit-board-item {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}
.openlucius-board-item .board-meta,
.openlucius-board-item .badge {
  font-size: 11px !important;
  line-height: 13px;
}
.assigned-to {
  padding: 0 !important;
  position: relative;
  top: -2px;
  border: 0;
}
.assigned-to img {
  width: 22px;
  height: 19px;
  border-radius: 10px;
  cursor: pointer;
}
.assigned-to.unassigned {
  top: 0;
}
.user-is-client .assigned-to img {
  cursor: default;
}
.assigned-to i {
  font-size: 13px;
  line-height: 16px;
  padding: 2px 5px;
}
.openlucius-board-item.is-due-past .board-meta .board-date-picker {
  color: #f00 !important;
}
.openlucius-board-item .label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #d9d9d9;
  background-color: #fff;
  color: #222;
  overflow: hidden;
  text-overflow: ellipsis;
}
.openlucius-board-item.is-due-past .label {
  border-color: #ebccd1;
}
.openlucius-board-item .label a {
  color: #222;
}
.badge-text {
  font-family: sans-serif;
}
#block-openlucius-board-openlucius-user-board-block {
  display: none;
}
#block-openlucius-board-openlucius-user-board-block.active {
  display: block;
}
.board-top-link {
  font-size: 15px;
  float: right;
  margin-right: 0.5em;
}
/** Hover states **/
.openlucius-board-item:hover .edit-board-item {
  display: block;
}
.openlucius-board-column.hover {
  border: 1px dashed #8d8d8d;
}
.badge.board-column-counter {
  display: inline;
  padding: 2px 7px;
}
/** Collapsed state **/
.openlucius-board-column.collapsed h2 {
  height: 100%;
  padding-bottom: 6px;
  text-align: right;
  /** default **/
  transform: rotate(180deg);
  /** Safari **/
  -webkit-transform: rotate(180deg);
  /** Firefox **/
  -moz-transform: rotate(180deg);
  /** IE **/
  -ms-transform: rotate(180deg);
  /** Opera **/
  -o-transform: rotate(180deg);
  /** Legacy IE **/
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  width: 100%;
  -webkit-writing-mode: vertical-lr;
  -moz-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
}
.openlucius-board-column.collapsed {
  flex: 0;
  min-width: 40px;
  overflow: hidden;
}
.openlucius-board-column.collapsed h2 i {
  margin-top: 15px;
  line-height: 10px;
  margin-bottom: -7px;
}
.openlucius-board-column.collapsed .openlucius-board-item,
.openlucius-board-column.collapsed a.ctools-use-modal,
.page-todos-my-board .page-header {
  display: none;
}
.badge.click-link {
  cursor: pointer;
}
.openlucius-board-column.collapsed .badge.board-column-counter {
  padding: 7px 2px;
}
.btn.board-top-link {
  color: #333;
  background-color: #fff;
  border-color: #dadada;
  border-radius: 5px;
  padding: 2px 10px;
  margin-right: 20px;
}
.openlucius-board-item:hover {
  background-color: #f7f7f7 !important;
}
